@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}

.right_one_burger_menu {
    display: none;
}

.left_one_logo {
    width: 15%;
    display: flex;
    justify-content: center;
}

.left_one_logo a {
    color: white;
}

header {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: 5;
}

.center_one_menu {
    width: 60%;
    height: 100%;
}

.center_one_menu ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.center_one_menu ul li a {
    color: white;
}

.top_home_out_box {
    width: 100%;
    height: 600px;
    background-image: url(./image/iron.jpeg);
    background-size: cover;
    color: rgba(238, 238, 238, .8);
    display: flex;
}

.top_home_out_box p {
    width: 40%;
    line-height: 1.7rem;
    margin-top: 180px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-left: 10%;

}

.back_color_for {
    background-color: rgba(0, 0, 0, 0.401);
}

header.sticky {
    position: fixed;
    background-color: rgb(200, 134, 10);
    height: 5rem;
    box-shadow: 0 0 5px 0 black;
}

.outer_box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.home_sec_cont_block {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.content_writen {
    width: 40%;
    padding-top: 5%;
    padding-left: 5%;
}

.box_of_slider {
    width: 50%;
}

.header_second {
    display: flex;
    align-items: center;

}

.one {
    width: .4rem;
    height: 1.7rem;
    background-color: black;
    margin: 0.1rem 0;
    display: block;
}

.two {
    width: .4rem;
    height: 1.7rem;
    background-color: rgb(255, 153, 0);
    margin: 0.1rem 0;
    display: block;
}

.header_second h1 {
    margin-left: 2rem;
}

.cont_header_second p {
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_of_slider {
    margin: 10% 0;
}
.homeThird_OuterBox{
        width: 100%;
        display: flex;
        justify-content: center;
}
.facilities {
    display:flex ;
    align-items: center;
    width: 75%;


}
.one {
    width: .4rem;
    height: 1.7rem;
    background-color: black;
    margin: 0.1rem 0;
    display: block;
}

.two {
    width: .4rem;
    height: 1.7rem;
    background-color: rgb(255, 153, 0);
    margin: 0.1rem 0;
    display: block;
}
.cont_third_one{
    margin-top: 2rem;
    font-size: 1rem;
        font-weight: 100;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.7rem;
}